<!-- 
  배너입니다.
  현재는 큰 의미가 없습니다만, 추후에 배너를 추가하고 싶을 때 사용하려 분리했습니다.
-->
<!DOCTYPE html>
<html lang="kor" xmlns:th="http://www.thymeleaf.org" th:fragment="banner">

<head>
</head>

<body>
  <!-- ====== Banner Start ====== -->
  <section class="ud-page-banner">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="ud-banner-content">
            <!-- <h1>배너임 ㅎㅇ</h1> -->
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ====== Banner End ====== -->
</body>

</html>